{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/auth.css">
<link rel="stylesheet" href="/static/css/navbar.css">
{% endblock %}
{% block title %}
Droid!Multi - Matchmaking
{% endblock %}


{% block body %}
  <h1 class=".text-light text-center m-2">Look for rooms here!</h1>
  <h1> <a href="/matchmaking/new/" class="btn btn-outline-light">New Room</a>
    <div class="overflow-auto">
    {% for room in rooms%}
  <div class="card bg-dark">
    <div class="card-body">
      <div>
        <h3 class="card-title">{{ room['player1'] }}'s Room</h3>
    <h4>
    Map Name
  </h4>
  <h5>
    {{ room['map_name'] }} [{{ room['difficulty_name'] }}]
  </h5>
</div>
<div>
    <h4>Stars</h4>
    <h5>
    {{ room['stars'] }}
  </h5>
  <h4>
    BPM:
    {{ room['bpm'] }}
  </h4>
</div>
    <a class="btn btn-outline-danger" href="/matchmaking/{{ room['room_id'] }}">Join Now</a>
  </div>
</div>
</div>
    {% endfor %}
  </h1>
</div>
  {% endblock %}