{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/auth.css">
<link rel="stylesheet" href="/static/css/navbar.css">
{% endblock %}
{% block title %}
Droid!Multi - New Match
{% endblock %}


{% block body %}
<div class="container-fluid">
  <div class="card col-sm-10 col-md-6 col-lg-4 bg-dark rounded">
    <div class="card-body">
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
  {% for msg in errors %}
      {{ msg }}
  {% endfor %}
{% endif %}
{% endwith %}
<h1 class="text-center card-title">Please enter a map id</h1>
<div class="form-group">
<form method='POST' action="/matchmaking/new/">
  <input type="text" name="beatmap_id" class='form-control'>
  <input type="submit" value="Submit" class="form-control col-3 mt-3 btn btn-outline-light">
  </form>
</div>
{% with maps = get_flashed_messages(category_filter=["map"]) %}
{% if maps %}
  {% for msg in maps %}
      {% set bmget = msg %}
      <h2 class="text-success">{{ bmget[0]['title'] }}</h2>
      {% for beatmaps in bmget %}
        <div>
        <form action="/matchmaking/" method='post'>
        <input name='data' type="text" value='{{ beatmaps['title'] }}QAWSEDZXC{{ beatmaps['beatmapset_id'] }}QAWSEDZXC{{ beatmaps['version'] }}QAWSEDZXC{{ beatmaps['difficultyrating'] }}QAWSEDZXC{{ beatmaps['bpm'] }}QAWSEDZXC{{ username }}' class="invisible position-fixed">
        <input type="submit" class="btn btn-outline-warning col-6 m-2" value='{{ beatmaps['version'] }}'>
        </form>
        </div>
       {% endfor %}  
  {% endfor %}
{% endif %}
{% endwith %}
</div>
</div>
</div>
{% endblock %}