<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="text-center text-danger">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<h1>please enter the map id</h1>
<form method='POST' action="/matchmaking/new/">
  <input type="text" name="beatmap_id">
  <input type="submit" value="Submit">
  </form>
{% for beatmap in getbm %}
<button onclick="mapSelect('{{ beatmap['title'] }}', '{{ beatmap['beatmapset_id'] }}', '{{ beatmap['version'] }}', '{{ beatmap['difficultyrating'] }}', '{{ beatmap['bpm'] }}', '{{ username }}')">{{ beatmap['version'] }}</button>
{% endfor %}

<script src="/static/js/new.js"></script>
</body>