{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" href="/static/css/navbar.css">
{% endblock %}
{% block title %}
Droid!Multi - Home
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">droid!multi</h1>
    <p class="lead">A multiplayer implementation for osu!droid with many gamemodes such as duel and battle royale!</p>
    <button type="button" class="btn btn-light btn-lg" disabled>Coming Soon!</button>
  </div>
{% endblock %}

