<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ username }}'s Profile</title>
</head>
<body>
  <h1>hewwo {{ username }}!</h1>
  <h2>Your Stats</h2>
  <h3>ibancho Username: {{ user_stats['ibancho_username'] }}</h3>
  <h3>ibancho ID: {{ user_stats['ibancho_username'] }}</h3>
  <h3>recent_play: {{ user_stats['recent_play'] }}</h3>
  <h3>recent_score: {{ user_stats['recent_score'] }}</h3>
</body>
</html>