{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="/static/css/user.css">
<link rel="stylesheet" href="/static/css/navbar.css"> {% endblock %} {% block title %} Droid!Multi - Verify {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="card col-sm-10 col-md-6 col-lg-4 bg-dark rounded">
		<div class="card-body">
			<h1>Instructions</h1>
			<h3> click this <a href="https://osu.ppy.sh/beatmapsets/1020310#osu/2134863">link</a> and play the map and then write
				your ibancho id then click the verify button</h3>
			<label for="ibancho_id"></label>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class="text-center text-danger">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<input id="ibancho_id" type="text" name="ibancho_id" placeholder="Your Ibancho ID">
<button class="btn btn-outline-light" onclick="verify();">Verify Now</button>
{% block js %}
</div></div></div>
<script>
  function verify() {
    const ibancho_id = document.getElementById('ibancho_id').value;
    window.location.href = `/user/verify/${ibancho_id}`
  }
</script>
{% endblock %}
{% endblock %}