<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up</title>
</head>

<body>
	<h1>Sign Up</h1>
	<h2>Get your own droid!multi account now!</h2>
	do not use your real password use password generators like 1password this site is still not secure
	<br>
  <h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
  </h2>
  <br>
  <form method="POST" action='/create-account'>
  <input name="username" type="text"  placeholder="username">
  <input name="email" type="email"  placeholder="email">
  <input name="password" type="password" minlength="6" maxlength="20" placeholder="password">
  <input type="submit" value="Submit">
  </form>
  <script src="/static/signup.js"></script>
</body>
</html>